html, body{ font-family: 'Raleway', sans-serif; color: #000000; font-size:20px; text-align:center; background-color: #15cce2}

/* bloc counter */
.block-wrapper{ margin-right: auto; margin-left: auto; width: 824px; }
.block{ color:#000000; float: left; border: 3px solid #000000; padding-top: 40px; width: 180px; height: 160px; margin: 10px}
.block p { margin: 0; }
.block p i{ font-size: 40px; color: #000000; }
.counter-wrapper{ color:#000000; font-weight:700; margin:5px 0px 5px 0px; font-size: 25px; }
.text-block{ font-size: 17px; }

/* The ribbons */
.corner-ribbon{ font-size: 12px; width: 250px; background: #e43; position: absolute; top: 25px; left: -50px; text-align: center; line-height: 50px; letter-spacing: 1px; color: #FFFFFF; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.corner-ribbon.sticky{ position: fixed; }
.corner-ribbon.shadow{ box-shadow: 0 0 3px rgba(0,0,0,.3); }
.corner-ribbon.top-right{ top: 40px; right: -60px; left: auto; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.corner-ribbon.blue{ background-color: #000000; }
.corner-ribbon a{ color:#FFFFFF; font-weight: bold; }

/* icon */
.lnr-wrapper{ margin-top: 20px }
.lnr-heart, .lnr-code, .lnr-bicycle, .lnr-coffee-cup { color: #000000; font-size: 45px; }

/* footer */
footer{ position: absolute; bottom:10px; text-align: center; font-size: 14px; width: 98% }
footer a{ color:#000000; text-decoration: none;text-align: center; }
