html, body{ font-family: 'Raleway', sans-serif; color: #7A7A7A; font-size:20px; text-align:center; }

.title-section{ font-size: 45px; margin-top: 100px; color: #019F9A}

.main section:first-child{ /*background-image: linear-gradient(to right, #F4F4F4 4%, #DFDEDC 99%);*/}
  .intro{ margin-top: 200px }
  .title-plugin{ font-family: 'Pacifico', cursive; font-size: 80px; color: #019F9A}
  .description-plugin{ text-align:center; width:800px; margin-left:auto; margin-right:auto;  }

.main section:nth-child(2){ }
.block-wrapper{ margin-right: auto; margin-left: auto; width: 740px; }
  .block{ color:#FFFFFF; float: left; border: 3px solid #019F9A; background-color:#019F9A; width: 300px; height: 200px; margin: 30px}
    .block p{ margin: 0}
      .block p i{ margin-top:25px; margin-bottom: 5px; font-size: 40px; background-color: #FFFFFF; color: #019F9A; padding: 25px }
  .counter-wrapper{ font-weight:700; margin:5px 0px 5px 0px; font-size: 35px; }
  .text-block{ font-size: 17px; }

.main section:nth-child(3){}
    .code-wrapper{ margin-left:auto; margin-right: auto; width:960px }
      .usage-wrapper{ float:left; font-size:15px; width:420px; text-align:left; margin-right:10px }
      .options-wrapper{ float:left; font-size:15px; width:440px; text-align:left; margin-left:40px}

.main section:nth-child(4){  }
  .copyright{ font-size:15px; }
    .copyright a{ text-decoration: none; color: #7A7A7A; font-weight: bold; }
  .donation{ position: absolute; left:0; top:0; font-family: 'Pacifico', cursive; letter-spacing: 0.1em; font-size:15px; background-color: #EF0E99; color: #FFFFFF; width:175px; margin-left: auto; margin-right: auto; padding: 10px}
    .donation a{ color:#FFFFFF }
      .donation:hover{color:#FFFFFF }

.download{ margin-top:60px; margin-bottom:120px }
  .download a{ text-decoration: none; background-color:#019F9A; padding:20px; font-size:20px; color:#FFFFFF; }
  .download a:hover{  opacity: 0.7; }
  .btn-zip{ border: 2px solid #15323B; color:#15323B; background-color:#FFFFFF; padding: 10px; margin: 10px; font-size: 15px;}
